*{
    margin: 0;
}


.geral {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


button {
    width: 90px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(208, 208, 83);
}
